@import "reset.scss";
@import "global-settings.scss";
@import "site-logo.scss";
@import "lang-switch.scss";
@import "Navigation.scss";

.header {
  //base information for header
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.site-logo {
  @include site-logo;

  //induvidual options for each screen size

  @media screen and (max-width: 320px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 481px) and (max-width: 575px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 576px) and (max-width: 767.9px) {
    font-size: 3.5rem;
  }
}

.site-navigation {
  @include Navigation;
}

.about-navigation {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;

  .about-nav-list {
    display: flex;
    justify-items: center;
    gap: 25px;
  }

  .about-nav-item {
    display: inline-block;
    padding: 10px;
    justify-items: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--bg-clr);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--bg-clr-reverse);
      color: var(--font-clr-reverse);
    }
    &:hover a {
      color: var(--font-clr-reverse);
    }

    &:focus {
      outline: none; /* Remove default focus outline */
    }
  }

  .about-nav-item > a {
    color: var(--font-clr);
    text-decoration: none;
  }

  .about-nav-item.active {
    background-color: var(--bg-clr-reverse);
    color: var(--font-clr-reverse);
  }
  .about-nav-item.active a {
    color: var(--font-clr-reverse);
    text-decoration: underline;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 20px;
  margin-bottom: 15px;

  div {
    padding: 25px;
    border-radius: 25px;
    a {
      color: var(--external-link-clr);
    }
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--element-clr);
    &::after {
      content: " :";
    }
  }

  > div:nth-child(odd) {
    background-color: var(--bg-clr-reverse);
    color: var(--font-clr-reverse);
  }
  > div:nth-child(even) {
    background-color: var(--bg-clr);
    color: var(--font-clr);
  }
}

.education-container {
  width: 50%;

  h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .education-year {
    padding: 10px 0;
  }
  .skill-tag {
    line-height: 25px;
    margin: 5px 10px;
    padding: 0 10px;
    border-radius: 25px;
    background-color: var(--element-clr);
  }

  .education-degree {
    font-size: 1rem;
    font-weight: 700;
  }
}
.education-container:nth-child(odd) h1 {
  color: var(--element-clr);
}
.education-container:nth-child(odd) .skill-tag {
  color: var(--font-clr);
}

.skill-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin: 0;
  // width: 50%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  @media screen and (max-width: 767.9px) {
    width: 90%;
  }
  @media screen and (min-width: 768px) {
    width: 60vw;
  }

  .skill-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 1rem;
    padding: 0;
    margin: 5px;

    > i {
      font-size: 1rem;
      color: goldenrod !important;
    }
  }

  i {
    font-size: 6rem;
    position: relative;
  }
}
.skill-container:nth-child(odd) i {
  color: var(--element-clr2);
}
.skill-container:nth-child(even) i {
  color: var(--element-clr3);
}

//FIXME: Add media queries for different screen sizes
@media screen and (max-width: 575.99px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
    width: 90%;
    font-size: 1.2em;
    section > p {
      font-weight: bold;
    }
    section > input,
    select,
    textarea,
    option {
      font-size: 0.8em;
      padding: 5px;
    }
  }
  .contact-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    align-items: center;
    gap: 15px;
    margin: 10px;
    width: 90%;

    section {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: left;
      align-items: center;
      gap: 15px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: start;
    gap: 15px;
    margin: 10px auto;
    width: 70%;
    font-size: 1.2em;

    label {
      width: 100%;
    }

    .contact-form-title {
      grid-column: 1 / -1;
      justify-self: flex-start;
    }

    section > h2 {
      font-weight: bold;
    }
    section > input,
    select,
    textarea,
    option {
      font-size: 0.8em;
      padding: 5px;
    }
  }
  .contact-form {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: left;
    align-items: center;
    gap: 15px;
    margin: 10px;
    width: 90%;
    overflow: auto;
    max-height: 100vh;
    // min-height: 4096px;

    label,
    input,
    textarea {
      width: 90%;
    }
    textarea {
      height: 10vh;
    }

    .radio-input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 100%;
    }

    section {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: left;
      align-items: center;
      gap: 15px;
      width: 100%;
    }

    .submit-btn {
      height: 4vh;
      width: 100%;
      font-size: 1.1rem;
      font-family: $font-special;
      color: var(--btn-color);
      background-color: var(--btn-bg-color);
      border: none;
      box-shadow: inset 0px 0px 7px 3px var(--btn-shadow-color);
    }
  }

  .context-information {
    position: sticky;
    top: 0;
    max-width: 80%;
    justify-self: flex-start;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
    width: 90%;
    font-size: 1.2em;
  }
}

.language-switch {
  @include LangSwitch;
}
