@mixin site-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-family: "stencilSTD";
  font-weight: 900;
  text-transform: uppercase;

  .special-char {
    font-size: $font-size-spec-char;
    color: $base-clr-light;
  }
  .element-text {
    color: $base-clr-light;
  }
  .web-element {
    color: $base-clr-light;
    text-stroke: $base-stroke-size $base-clr-dark;
    -webkit-text-stroke: $base-stroke-size $base-clr-dark;
  }
}
