// dark and light options
$font-clr-light: rgba(0, 0, 0, 1);
$font-clr-dark: rgba(255, 255, 255, 1);

// site logo options
$base-stroke-size: 2px;
$base-clr-light: rgba(255, 255, 255, 1);
$base-clr-dark: rgba(0, 0, 0, 1);
$font-size-logo: 1.6em;
$font-size-spec-char: 1.5em;

// font options
$sub-title: 1.5em;
$font-size: 1.2em;
$font-size-header: 1.5em;

//content options
$content-text-paragraph: 15px 30px;
