@font-face {
  font-family: "stencilSTD";
  src: url("./fonts/StencilStd.otf");
}

//font options
$font-size: 20px;
$font-standard: "calibri";
$font-special: "stencilSTD";

//color options based on 60%, 30%, 10%
$color-white: rgba(255, 255, 255, 0.753);
$color-black: rgba(0, 0, 0, 0.8);
$color-green: rgba(0, 255, 0, 0.8);
$color-green-hard: rgb(0, 120, 0, 1);

//header options, screen width = 100vw
$site-logo-width: 34vw;
$site-nav-width: calc(100% - #{$site-logo-width});

@media (prefers-color-scheme: light) {
  :root {
    --font-clr: #{$color-black};
    --bg-clr: #{$color-white};
    --bg-clr-reverse: #{$color-black};
    --font-clr-reverse: #{$color-white};
    --element-clr: #{$color-green};
    --external-link-clr: #{$color-green-hard};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-clr: #{$color-white};
    --bg-clr: #{$color-black};
    --bg-clr-reverse: #{$color-white};
    --font-clr-reverse: #{$color-black};
    --element-clr: #{$color-green};
    --external-link-clr: #{$color-green};
  }
}
