@import "variables.scss";

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body {
  background-color: var(--bg-clr);
  color: var(--font-clr);
  font-family: $font-standard;
  font-size: $font-size;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  //base information for header
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.site-logo {
  //base information site logo
  display: flex;
  flex-wrap: nowrap;
  font-family: $font-special;
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px;

  h1:nth-child(2) {
    color: var(--element-clr);
  }
  .special-char {
    color: var(--element-clr);
  }

  //induvidual options for each screen size
  @media screen and (max-width: 767.9px) {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
    gap: 10px;
  }
  @media screen and (max-width: 320px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 481px) and (max-width: 575px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 576px) and (max-width: 767.9px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    font-size: 4rem;
    align-items: flex-start;
    width: 34vw;
    max-width: 255px;
    margin: 10px;
    h1:nth-child(odd) {
      align-self: flex-start;
    }

    h1:nth-child(2) {
      align-self: flex-end;
    }
  }
}

.site-navigation {
  //base information for site navigation

  font-family: $font-special;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 25px;
    border-radius: 25px;

    .navigation-item {
      border-radius: 25px;
    }

    .navigation-link {
      padding: 2.5px 12.5px;
      border-radius: 25px;
      color: var(--font-clr);
      text-align: center;
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      z-index: 1;

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 0;
        left: 0;
        bottom: 0;
        border-radius: 25px;
        background-color: var(--bg-clr-reverse);
        transition:
          height 550ms ease-in-out,
          background-color 550ms ease-in-out;
      }
      //FIXME find corners and round them,
      color: var(--element-clr);
      transition: color 550ms ease-in-out 600ms; // delay added here

      &:hover {
        color: var(--element-clr);

        &:after {
          height: 10em;
          border-radius: 25px;
        }
      }
    }

    @media screen and (min-width: 768px) {
      height: 100%;
      align-items: center;
      font-size: 3rem;
      .navigation-item {
        // padding: 20px;
        box-sizing: border-box;
      }
    }
  }

  .navigation-link {
    text-decoration: none;
  }
  // @media screen and (max-width: 767px) {
  //   .navigation-list {
  //     list-style: none;
  //   }
  // }
}
