@import "variables.scss";

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body {
  background-color: var(--bg-clr);
  color: var(--font-clr);
  font-family: $font-standard;
  font-size: $font-size;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  //base information for header
  width: 100%;
  margin: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.site-logo {
  //base information site logo
  display: flex;
  flex-wrap: nowrap;
  font-family: $font-special;
  font-weight: 900;
  text-transform: uppercase;

  h1:nth-child(2) {
    color: var(--element-clr);
  }
  .special-char {
    color: var(--element-clr);
  }

  //induvidual options for each screen size
  @media screen and (max-width: 767px) {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
    gap: 10px;
    width: 100%;
  }
  @media screen and (max-width: 320px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 481px) and (max-width: 575px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    font-size: 4rem;
    align-items: flex-start;
    width: 34vw;
    margin: 10px;
    h1:nth-child(odd) {
      align-self: flex-start;
    }

    h1:nth-child(2) {
      align-self: flex-end;
    }
  }
}

.site-navigation {
  //base information for site navigation

  font-family: $font-special;

  a {
    text-decoration: none;
  }
  @media screen and (max-width: 767px) {
    .navigation-list {
      list-style: none;
    }
  }

  @media screen and (min-width: 768px) {
    width: $site-nav-width;
  }
}
