@font-face {
  font-family: "stencilSTD";
  src: url("./fonts/StencilStd.otf");
}
@media (prefers-color-scheme: light) {
  :root {
    --font-clr: rgba(0, 0, 0, 0.8);
    --bg-clr: rgba(255, 255, 255, 0.753);
    --bg-clr-reverse: rgba(0, 0, 0, 0.8);
    --font-clr-reverse: rgba(255, 255, 255, 0.753);
    --element-clr: rgba(0, 255, 0, 0.8);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --font-clr: rgba(255, 255, 255, 0.753);
    --bg-clr: rgba(0, 0, 0, 0.8);
    --bg-clr-reverse: rgba(255, 255, 255, 0.753);
    --font-clr-reverse: rgba(0, 0, 0, 0.8);
    --element-clr: rgba(0, 255, 0, 0.8);
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
body {
  background-color: var(--bg-clr);
  color: var(--font-clr);
  font-family: "calibri";
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
  }
}

.site-logo {
  display: flex;
  flex-wrap: nowrap;
  font-family: "stencilSTD";
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px;
}
.site-logo h1:nth-child(2) {
  color: var(--element-clr);
}
.site-logo .special-char {
  color: var(--element-clr);
}
@media screen and (max-width: 767.9px) {
  .site-logo {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
    gap: 10px;
  }
}
@media screen and (max-width: 320px) {
  .site-logo {
    font-size: 2rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .site-logo {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 575px) {
  .site-logo {
    font-size: 3rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.9px) {
  .site-logo {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  .site-logo {
    flex-direction: column;
    font-size: 4rem;
    align-items: flex-start;
    width: 34vw;
    max-width: 255px;
    margin: 10px;
  }
  .site-logo h1:nth-child(odd) {
    align-self: flex-start;
  }
  .site-logo h1:nth-child(2) {
    align-self: flex-end;
  }
}

.site-navigation {
  font-family: "stencilSTD";
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.site-navigation .navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px;
}
.site-navigation .navigation-list .navigation-link {
  padding: 2.5px 12.5px;
  border-radius: 25px;
  color: var(--font-clr);
  text-align: center;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}
.site-navigation .navigation-list .navigation-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg-clr-reverse);
  transition: height 550ms ease-in-out, color 550ms ease-in-out;
}
.site-navigation .navigation-list .navigation-link:hover {
  color: var(--element-clr);
}
.site-navigation .navigation-list .navigation-link:hover:after {
  height: 10em;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .site-navigation .navigation-list {
    height: 100%;
    align-items: center;
    font-size: 3rem;
  }
  .site-navigation .navigation-list .navigation-item {
    box-sizing: border-box;
  }
}
.site-navigation .navigation-link {
  text-decoration: none;
}/*# sourceMappingURL=site.css.map */